#featured-rest div:hover {
    background-color: #dee1e6;
  }
  
  input {
    width: 30em;
    height: 30px;
    margin: 15px 30px 15px 10px ;
  }
  
  #input-container {
    margin: 1em 3em;
  }
  
  /* Media Queries */
  @media (max-width: 1024px) {
      .food {
          width: 300px;
          margin: 30px auto;
      }
  
      .hero .textBox h1 {
          font-size: 2.5em;
          Line-height: 1em;
          font-weight: 500;
          margin: 25px 0;
      }
  }
  
  @media (max-width: 768px) {
      .hero .textBox {
          text-align: center;
      }
      .thumbnail li {
          margin: 1em;
      }
  
      #restaurants-cont img {
          width: 7em;
          height: 7em;
          margin: 20px;
      }
  
      #restaurants-cont div {
          font-size: x-small;
      }
  
      #restaurants-cont div h3 {
          font-size: small;
      }
  
  }